# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.9
      - image: circleci/openjdk:8-jdk-node-browsers-legacy

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/service-sms-template
    steps:
      - checkout
      - run:
          name: install make
          command: |
            sudo apt-get update && sudo apt-get -y install gcc make
            sudo apt-get install software-properties-common

          environment:
            JAVA_HOME: /usr/lib/jvm/java-9-oracle

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ .Branch }}-{{ checksum "package.json" }}
          - v1-dependencies-{{ .Branch }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies
      # - run:
      #     name: Install dependencies
      #     command: make deps

      - save_cache:
          paths:
          - node_modules
          key: v1-dependencies-{{ .Branch }}-{{ checksum "package.json" }}

      # - run:
      #     name: Init project
      #     command: make init

      # - run:
      #     name: Linting
      #     command: make lint

      # - run:
      #     name: Testing
      #     command: make cover

      # - run:
      #     name: Sonar analysis
      #     command: sudo make sonar


      - run:
          name: Download sonar
          command: |
            sed '/sonar.projectVersion/d' ./sonar-project.properties > tmp && mv tmp sonar-project.properties
            echo sonar.projectVersion=`cat package.json | python -c "import json,sys;obj=json.load(sys.stdin);print obj['version'];"` >> sonar-project.properties
            wget https://s3.eu-central-1.amazonaws.com/dialonce-cdn/utilities/sonar-scanner-cli.zip
            unzip sonar-scanner-*

            sudo apt-get update && apt-get install openjdk-8-jdk
      - run:
          name: Sonar analysis
          command: |
            cd sonar-scanner/bin
            chmod 777 sonar-scanner
            ./sonar-scanner


