version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9
    steps:
      - checkout
      - run:
          name: install make
          command: sudo apt-get update && sudo apt-get -y install gcc make

      - run:
          name: Install dependencies
          command: make deps

      - run:
          name: Init project
          command: make init

      - run:
          name: Testing
          command: make cover
  test:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      - run:
          name: sonar analysis
          command: |
            sed '/sonar.projectVersion/d' ./sonar-project.properties > tmp && mv tmp sonar-project.properties
            echo sonar.projectVersion=`cat package.json | python -c "import json,sys;obj=json.load(sys.stdin);print obj['version'];"` >> sonar-project.properties
            wget https://s3.eu-central-1.amazonaws.com/dialonce-cdn/utilities/sonar-scanner-cli.zip
            unzip sonar-scanner-*
            sh sonar-scanner/bin/sonar-scanner
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
