version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9
    steps:
      - checkout
      - run:
          name: install make
          command: sudo apt-get update && sudo apt-get -y install gcc make

      - run:
          name: Install dependencies
          command: make deps

      - run:
          name: Init project
          command: make init

      - run:
          name: Testing
          command: make cover
  test:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      - run:
          name: sonar
          command: |
            make sonar
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
